* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter, sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}
h2 {
    text-align: center;
}

main > form {
    margin: 0 auto;
}
.log-title {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}
.message {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.text {
    width: 50%;
}

.log-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #6F68EF 2px solid;
    border-radius: 10px;
    padding-top: 20px;
    gap: 20px;
    width: 30%;
    height: 50vh;
}

button {
    padding: 10px 50px;
    color: white;
    font-size: 16px;
    background-color: #6F68EF;
    border: transparent;
    border-radius: 10px;
}
.button-make {
    width: 160px;
    color: #6F68EF;
    padding: 10px 50px;
    font-size: 16px;
    border: solid 2px #6F68EF;
    border-radius: 10px;
    /*margin-left: 100px;*/
}
.button-exit {
    background-color: #6F68EF;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: solid 2px white;
    border-radius: 10px;
}
.admin-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 90px;
    background-color: #6F68EF;
    margin-bottom: 50px;
}
.header-item {
    background-color: white;
    color: #6F68EF;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 10px;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.main-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.admin {
    color: white;
}

/*форма*/
.form-wrap {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;

    margin-bottom: 150px;
}

.form-button {
    width: 30%;
}
.add-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-input-form {
    background-color: #E5E5E5;
    border: transparent;
    border-radius: 10px;
    padding: 15px 25px;
}
.select-form {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
}

.checkbox-wrap {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*форма*/


/*форма select*/
.list-division {
    margin: 20px 0 20px;
    display: flex;
    width: 200px;
}
.main-title-division-id {
    display: flex;
    width: 50px;
    border-right: 2px black solid;
}
.main-title-checkbox {
    display: flex;
    width: 100px;
    border-right: 2px black solid;
}
.list-division-id {
    margin: 20px 0 20px;
    display: flex;
    width: 50px;
}
.list-item {
    display: flex;
    gap: 30px;
}
/*форма select*/


/*лист с абонентами, подразделенями, помещениями*/
.list-wrap {
     display: flex;
     margin-left: 100px;
 }
.list-items {
    display: flex;
    flex-direction: column;
}
.list-item-title {
    display: flex;
    gap: 30px;
}
.main-title {
    display: flex;
    width: 170px;
    border-right: 2px black solid;
}
.list {
     margin: 20px 0 20px;
     display: flex;
     width: 170px;
 }
/*лист с абонентами, подразделенями, помещениями*/


.main-title-division {
    display: flex;
    width: 200px;
    border-right: 2px black solid;
}


/*ошибки*/
.errors-wrap {
    display: flex;
    justify-content: center;
}
.errors {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.error-item {
    list-style: none;
}
/*ошибки*/