* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter, sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}
h2 {
    text-align: center;
}

main > form {
    margin: 0 auto;
}
.log-title {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}
.message {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.text {
    width: 50%;
}

.log-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #6F68EF 2px solid;
    border-radius: 10px;
    padding-top: 20px;
    gap: 20px;
    width: 30%;
    height: 40vh;
}
form > label {
    width: 70%;
}
form > label > input {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
}
button {
    padding: 10px 50px;
    color: white;
    font-size: 16px;
    background-color: #6F68EF;
    border: transparent;
    border-radius: 10px;
}
.button-make {
    width: 160px;
    color: #6F68EF;
    padding: 10px 50px;
    font-size: 16px;
    border: solid 2px #6F68EF;
    border-radius: 10px;
    margin-left: 100px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 90px;
    background-color: #6F68EF;
    margin-bottom: 50px;
}
.header-nav > a {
    background-color: white;
    color: #6F68EF;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 10px;
}
.list-wrap {
    display: flex;
    /*justify-content: center;*/
    margin-left: 100px;
}
.table {
    /*display: flex;*/
    /*justify-content: space-around;*/
}
.main-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.main-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

    margin-bottom: 150px;
}
.form-button {
    width: 30%;
}


.list-items {
    display: flex;
    flex-direction: column;
}
.list-item-title {
    display: flex;
    gap: 30px;
}
.main-title {
    display: flex;
    width: 170px;
    border-right: 2px black solid;
}
.list {
     /*width: 300px;*/
     margin: 20px 0 20px;
     display: flex;
     width: 170px;
 }

.main-title-division {
    display: flex;
    width: 200px;
    border-right: 2px black solid;
}

.list-division {
    margin: 20px 0 20px;
    display: flex;
    width: 200px;
}
.main-title-division-id {
    display: flex;
    width: 50px;
    border-right: 2px black solid;
}
.list-division-id {
    margin: 20px 0 20px;
    display: flex;
    width: 50px;
}
.list-item {
    display: flex;
    gap: 30px;
}
