* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter, sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}
main > form {
    margin: auto;
}
.log-title {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}
.log-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #6F68EF 2px solid;
    border-radius: 10px;
    padding-top: 20px;
    gap: 20px;
    width: 30%;
    height: 40vh;
}
form > label {
    width: 70%;
}
form > label > input {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
}
button {
    padding: 10px 50px;
    color: white;
    font-size: 16px;
    background-color: #6F68EF;
    border: transparent;
    border-radius: 10px;
}


.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 90px;
    background-color: #6F68EF;
    margin-bottom: 100px;
}
.header-nav > a {
    background-color: white;
    color: #6F68EF;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 10px;
}

